#### Luqman

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
spQ2 = pd.read_csv("spQ2.csv")
spQ2.head()

,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Unemployment rate,Inflation rate,GDP,Target_status
0,19,12,5,9,10.8,1.4,1.74,1
1,1,3,3,3,13.9,-0.3,0.79,2
2,37,37,9,9,10.8,1.4,1.74,1
3,38,37,5,3,9.4,-0.8,-3.12,2
4,37,38,9,9,13.9,-0.3,0.79,2